.page {
    // .page__hero
    &__hero {
        padding: 46px 0;
        @media (max-width: 991.98px) {
            padding: 30px 0;
        }
        @media (max-width: 479.98px) {
            padding-top: 0;
        }
        @media (max-width: 320px) {
            padding-bottom: 20px;
        }
    }
    // .page__discount
    &__discount {
        padding-bottom: 23px;
        @media (max-width: 600px) {
            padding-bottom: 30px;
        }
        @media (max-width: 320px) {
            padding-bottom: 20px;
        }
    }
    // .page__categories
    &__categories {
        margin-top: 23px;
        margin-bottom: 40px;
        @media (max-width: 600px) {
            margin: 30px 0;
        }
        @media (max-width: 320px) {
            margin: 20px 0;
        }
    }
    // .page__clients
    &__clients {
        padding: 40px 0;
        @media (max-width: 600px) {
            padding: 30px 0;
        }
        @media (max-width: 320px) {
            padding: 20px 0;
        }
    }
    // .page__arrivals
    &__arrivals {
        margin: 40px 0;
        @media (max-width: 600px) {
            margin: 30px 0;
        }
        @media (max-width: 320px) {
            margin: 20px 0;
        }
    }
    // .page__advantages
    &__advantages {
        padding-top: 60px;
        padding-bottom: 40px;
        @media (max-width: 991.98px) {
            padding-top: 40px;
        }
        @media (max-width: 600px) {
            padding-bottom: 30px;
        }
        @media (max-width: 479.98px) {
            padding: 30px 0;
        }
    }
    // .page__about
    &__about {
        padding: 40px 0;
        @media (max-width: 600px) {
            padding: 30px 0;
        }
        @media (max-width: 320px) {
            padding: 20px 0;
        }
    }
}

// =============================================================================================================

.hero {
    // .hero__container
    &__container {
        @media (max-width: 479.98px) {
            padding-inline: 0;
        }
    }
    // .hero__body
    &__body {
        background-color: #f6f6f6;
        min-height: 589px;
        display: flex;
        @media (max-width: 767.98px) {
            display: block;
            min-height: auto;
        }
    }
    // .hero__content
    &__content {
        flex: 0 1 50%;
        padding: 55px 79px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @media (max-width: 1200px) {
            padding: 55px 60px;
        }
        @media (max-width: 991.98px) {
            padding: 45px 25px;
        }
        @media (max-width: 600px) {
            padding: 35px 33px 38px;
        }
        @media (max-width: 320px) {
            padding: 29px 23px 45px;
        }
    }
    // .hero__sub-title
    &__sub-title {
        &:not(:last-child) {
            margin-bottom: 15px;
            @media (max-width: 320px) {
                margin-bottom: 10px;
            }
        }
    }
    // .hero__title
    &__title {
        font-weight: 700;
        font-size: 70px;
        line-height: 110%;
        &:not(:last-child) {
            margin-bottom: 23px;
            @media (max-width: 600px) {
                margin-bottom: 17px;
            }
            @media (max-width: 320px) {
                margin-bottom: 11px;
            }
        }
        @media (max-width: 1200px) {
            font-size: 55px;
        }
        @media (max-width: 767.98px) {
            max-width: 407px;
            font-size: 59px;
        }
        @media (max-width: 400px) {
            font-size: 47px;
        }
        @media (max-width: 320px) {
            font-size: 40px;
        }
    }
    // .hero__text
    &__text {
        max-width: 407px;
        line-height: 1.5;
        @media (max-width: 600px) {
            max-width: 379px;
        }
        &:not(:last-child) {
            margin-bottom: 33px;
            @media (max-width: 600px) {
                margin-bottom: 19px;
            }
            @media (max-width: 320px) {
                margin-bottom: 15px;
            }
        }
        p {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
    // .hero__button
    &__button {
    }
    // .hero__image
    &__image {
        flex: 0 1 50%;
        @media (max-width: 600px) {
            height: 499px;
        }
        @media (max-width: 350px) {
            height: 256px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// =============================================================================================================

.discount {
    // .discount__container
    &__container {
    }
    // .discount__title
    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        padding-bottom: 24px;
        border-bottom: 2px solid #f3f3f3;
        @media (max-width: 600px) {
            font-size: 16px;
            padding-bottom: 12px;
        }
        @media (max-width: 320px) {
            font-size: 10px;
        }
    }
}

// =============================================================================================================

.categories {
    // .categories__container
    &__container {
        @media (max-width: 479.98px) {
            padding-inline: 0;
        }
    }
    // .categories__items
    &__items {
        display: flex;
        gap: 16px;
        min-height: 525px;
        @media (max-width: 767.98px) {
            flex-direction: column;
            gap: 20px;
        }
        @media (max-width: 479.98px) {
            gap: 0;
        }
    }
    // .categories__item
    &__item {
        position: relative;
        flex-basis: calc((100% - 32px) / 3);
        padding: 117px 25px;
        text-align: center;
        &--green {
            background-color: #e1e4c2;
        }
        &--blue {
            background-color: #dceeee;
        }
        &--light-yellow {
            background-color: #f3efe1;
        }
        @media (max-width: 767.98px) {
            padding: 74px 40px 44px;
            text-align: left;
        }
        @media (max-width: 320px) {
            padding: 59px 23px 24px;
        }
    }
    // .categories__sub-title
    &__sub-title {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        @media (max-width: 767.98px) {
            left: 40px;
        }
        @media (max-width: 479.98px) {
            font-size: 10px;
        }
        @media (max-width: 320px) {
            left: 23px;
            top: 32px;
        }
    }
    // .categories__title
    &__title {
        position: relative;
        z-index: 1;
        &:not(:last-child) {
            margin-bottom: 16px;
            @media (max-width: 767.98px) {
                margin-bottom: 30px;
            }
            @media (max-width: 479.98px) {
                margin-bottom: 21px;
            }
        }
        @media (max-width: 991.98px) {
            font-size: 35px;
        }
        @media (max-width: 479.98px) {
            font-size: 24px;
        }
    }
    // .categories__button
    &__button {
        position: relative;
        z-index: 1;
        @media (max-width: 991.98px) {
            min-width: 180px;
            min-height: 48px;
            font-size: 16px;
        }
        @media (max-width: 600px) {
            min-width: 191px;
        }
        @media (max-width: 479.98px) {
            min-width: 144px;
            min-height: 35px;
            font-size: 12px;
        }
    }
    // .categories__image
    &__image {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 100%;
        height: 234px;
        object-fit: contain;
        object-position: bottom;
        @media (max-width: 767.98px) {
            left: auto;
            right: 0;
            transform: translateX(0);
        }
        @media (max-width: 479.98px) {
            height: 174px;
        }
    }
}

// =============================================================================================================

.clients {
    // .clients__container
    &__container {
        @media (max-width: 479.98px) {
            padding-inline: 0;
        }
    }
    // .clients__list
    &__list {
        padding-inline: 82px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 70px;
        overflow: auto;
        @media (max-width: 991.98px) {
            padding-inline: 30px;
        }
        @media (max-width: 600px) {
            column-gap: 40px;
        }
        @media (max-width: 320px) {
            column-gap: 20px;
            padding-inline: 27px;
        }
    }
    // .clients__item
    &__item {
        @media (max-width: 320px) {
            &:nth-child(5),
            &:nth-child(6) {
                display: none;
            }
        }
    }
    // .clients__logo
    &__logo {
    }
}

// =============================================================================================================

.arrivals {
    position: relative;
    min-height: 568px;
    @media (max-width: 600px) {
        min-height: 372px;
    }
    @media (max-width: 320px) {
        min-height: 243px;
    }
    // .arrivals__container
    &__container {
        @media (max-width: 600px) {
            padding-inline: 0;
        }
    }
    // .arrivals__content
    &__content {
        padding: 90px 50px 90px 180px;
        @media (max-width: 991.98px) {
            padding: 90px 70px;
        }
        @media (max-width: 600px) {
            padding: 50px 83px 87px;
        }
        @media (max-width: 479.98px) {
            padding: 39px 33px;
        }
    }
    // .arrivals__sub-title
    &__sub-title {
        &:not(:last-child) {
            margin-bottom: 27px;
            @media (max-width: 600px) {
                margin-bottom: 18px;
            }
            @media (max-width: 320px) {
                margin-bottom: 12px;
            }
        }
    }
    // .arrivals__title
    &__title {
        &:not(:last-child) {
            margin-bottom: 33px;
            @media (max-width: 320px) {
                margin-bottom: 12px;
            }
        }
    }
    // .arrivals__image
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
}

// =============================================================================================================

.advantages {
    // .advantages__container
    &__container {
    }
    // .advantages__list
    &__list {
        padding-inline: 78px;
        display: flex;
        column-gap: 50px;
        justify-content: space-between;
        @media (max-width: 991.98px) {
            padding-inline: 0;
        }
        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
            row-gap: 70px;
        }
        @media (max-width: 479.98px) {
            row-gap: 50px;
        }
    }
    // .advantages__item
    &__item {
        flex: 0 1 276px;
        text-align: center;
        @media (max-width: 600px) {
            flex: 0 1 auto;
            max-width: 310px;
        }
        @media (max-width: 320px) {
            max-width: 222px;
        }
    }
    // .advantages__image
    &__image {
        max-width: 62.5px;
        object-fit: contain;
        margin-bottom: 45px;
        @media (max-width: 991.98px) {
            margin-bottom: 27px;
        }
        @media (max-width: 479.98px) {
            margin-bottom: 23px;
        }
    }
    // .advantages__title
    &__title {
        font-size: 22px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: 0.15px;
        &:not(:last-child) {
            margin-bottom: 14px;
            @media (max-width: 600px) {
                margin-bottom: 11px;
            }
        }
        @media (max-width: 479.98px) {
            font-size: 18px;
        }
        @media (max-width: 320px) {
            font-size: 16px;
        }
    }
    // .advantages__text
    &__text {
        font-size: 17px;
        line-height: 150%;
        letter-spacing: 0.25px;
        @media (max-width: 600px) {
            font-size: 16px;
        }
        @media (max-width: 320px) {
            font-size: 12px;
        }
    }
}

// =============================================================================================================

.about {
    // .about__container
    &__container {
        @media (max-width: 479.98px) {
            padding-inline: 0;
        }
    }
    // .about__title
    &__title {
        text-align: center;
        &:not(:last-child) {
            margin-bottom: 55px;
            @media (max-width: 767.98px) {
                margin-bottom: 30px;
            }
            @media (max-width: 320px) {
                margin-bottom: 24px;
            }
        }
        @media (max-width: 479.98px) {
            padding-inline: 25px;
            font-size: 30px;
        }
        @media (max-width: 320px) {
            margin: 0 auto;
            max-width: 247px;
            font-size: 24px;
        }
    }
    // .about__image
    &__image {
        width: 100%;
        object-fit: cover;
        margin-bottom: 46px;
        @media (max-width: 767.98px) {
            margin-bottom: 26px;
        }
        @media (max-width: 320px) {
            margin-bottom: 12px;
        }
    }
    // .about__wrapper
    &__wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        column-gap: 40px;
        @media (max-width: 767.98px) {
            flex-direction: column;
            row-gap: 25px;
            align-items: flex-start;
        }
        @media (max-width: 600px) {
            max-width: 399px;
        }
        @media (max-width: 479.98px) {
            padding-inline: 25px;
        }
        @media (max-width: 320px) {
            padding-inline: 18px;
        }
    }
    // .about__content
    &__content {
        flex: 0 1 484px;
        @media (max-width: 767.98px) {
            flex: 0 1 auto;
        }
    }
    // .about__label
    &__label {
        font-size: 22px;
        font-weight: 600;
        line-height: 127.272727%; /* 28/22 */
        &:not(:last-child) {
            margin-bottom: 18px;
            @media (max-width: 600px) {
                margin-bottom: 11px;
            }
        }
        @media (max-width: 320px) {
            font-size: 16px;
        }
    }
    // .about__text
    &__text {
        font-size: 17px;
        line-height: 150%;
        letter-spacing: 0.25px;
        @media (max-width: 600px) {
            font-size: 16px;
        }
        @media (max-width: 320px) {
            font-size: 12px;
        }
    }
    // .about__button
    &__button {
    }
}

// =============================================================================================================
