.page {
    // .page__hero
    &__hero {
        padding: 46px 0;
        @media (max-width: 600px) {
            padding: 30px 0;
        }
        @media (max-width: 479.98px) {
            padding-top: 0;
        }
        @media (max-width: 320px) {
            padding-bottom: 20px;
        }
    }
}

.hero {
    // .hero__container
    &__container {
        @media (max-width: 479.98px) {
            padding-inline: 0;
        }
    }
    // .hero__body
    &__body {
        background-color: #f6f6f6;
        min-height: 589px;
        display: flex;
        @media (max-width: 767.98px) {
            display: block;
            min-height: auto;
        }
    }
    // .hero__content
    &__content {
        flex: 0 1 50%;
        padding: 55px 79px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @media (max-width: 1200px) {
            padding: 55px 60px;
        }
        @media (max-width: 991.98px) {
            padding: 45px 25px;
        }
        @media (max-width: 600px) {
            padding: 35px 33px 38px;
        }
        @media (max-width: 320px) {
            padding: 29px 23px 45px;
        }
    }
    // .hero__sub-title
    &__sub-title {
        &:not(:last-child) {
            margin-bottom: 15px;
            @media (max-width: 320px) {
                margin-bottom: 10px;
            }
        }
    }
    // .hero__title
    &__title {
        font-weight: 700;
        font-size: 70px;
        line-height: 110%;
        &:not(:last-child) {
            margin-bottom: 23px;
            @media (max-width: 600px) {
                margin-bottom: 17px;
            }
            @media (max-width: 320px) {
                margin-bottom: 11px;
            }
        }
        @media (max-width: 1200px) {
            font-size: 55px;
        }
        @media (max-width: 767.98px) {
            max-width: 407px;
            font-size: 59px;
        }
        @media (max-width: 400px) {
            font-size: 47px;
        }
        @media (max-width: 320px) {
            font-size: 40px;
        }
    }
    // .hero__text
    &__text {
        max-width: 407px;
        line-height: 1.5;
        @media (max-width: 600px) {
            max-width: 379px;
        }
        &:not(:last-child) {
            margin-bottom: 33px;
            @media (max-width: 600px) {
                margin-bottom: 19px;
            }
            @media (max-width: 320px) {
                margin-bottom: 15px;
            }
        }
        p {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
    // .hero__button
    &__button {
    }
    // .hero__image
    &__image {
        flex: 0 1 50%;
        @media (max-width: 600px) {
            height: 499px;
        }
        @media (max-width: 350px) {
            height: 256px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
